:root {
  --background: #ffffff;
  --foreground: #171717;
  /* Add this to force light mode as the default for form elements */
  color-scheme: light; 
}

/* Delete or comment out the (prefers-color-scheme: dark) sections 
   if you want your app to look the same for everyone */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add this reset for all inputs to fight off Apple's defaults */
input, textarea, select {
  color: #000000 !important;
  background-color: #ffffff !important;
  -webkit-appearance: none;
  appearance: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
